/Manifest.toml

/.CondaPkg
examples/*/.CondaPkg
initial_grids/.CondaPkg
initial_grids/MARCS_2.0/av_models/
initial_grids/MARCS_2.0/av_models.tar.gz
initial_grids/MARCS_2.1/av_models/
initial_grids/MARCS_2.1/av_models.tar.gz

examples/*/Manifest.toml
examples/*/slurm*
examples/*/core.cobra*
examples/*/*.pdf
examples/*/*.gif
examples/*/*.png
examples/*/*.aux
examples/*/*.msh
examples/*/*.snap
examples/*/*.hdf5
examples/running_dispatch/*.csv
examples/running_multi/*.tar
examples/running_multi/*.mod
examples/running_multi/*.gz

*.pyc
**/__pycache__/
examples/dispatch2multi/*atmos
examples/dispatch2multi/*mesh
examples/solar_model/*.dat
examples/solar_model/*.mod
examples/solar_model/*.simple
examples/solar_model/solar_stagger_ext
examples/stagger2bifrost/stagger_sun/*
examples/EoS/*
examples/Muram/*

examples/solar_model/*.txt
examples/solar_model/*.npz
examples/dispatch2space/data

examples/MainSequence/*/
examples/CEMP/*.txt
examples/CEMP/*_rho
examples/CEMP/*_T
examples/CEMP/Paper/*.pdf
examples/CEMP/Paper/*/*.pdf

examples/initial_models/*
examples/initial_models/*.dat
examples/initial_models/*99999_av.dat
examples/initial_models/*.mgrid
!examples/initial_models/stagger_grid.mgrid
!examples/initial_models/stagger_grid_full.mgrid
!examples/initial_models/stagger_grid_full_o.mgrid
!examples/initial_models/stellar_default.nml
!examples/initial_models/*.ipynb
!examples/initial_models/Project.toml
!examples/initial_models/*.jl
!examples/initial_models/*.slurm
!examples/initial_models/*_000*_av.dat
!examples/initial_models/av_models
!examples/initial_models/input
!examples/initial_models/show_monitor
!examples/initial_models/monitor_dir.sh



examples/from_stagger/.Conda*
examples/from_stagger/*.atmos
examples/from_stagger/*.mesh
examples/from_stagger/*/*.atmos
examples/from_stagger/*/*.mesh
examples/from_stagger/models*/*/*.mesh
examples/from_stagger/models*/*/*.atmos


examples/Paper_I/.Conda*
examples/Paper_I/*.atmos
examples/Paper_I/*.mesh
examples/Paper_I/models/*
examples/Paper_I/co5bold_*
examples/Paper_I/*/*.atmos
examples/Paper_I/*/*.mesh
examples/Paper_I/plots
examples/Paper_I/*/eos_opa*
examples/Paper_I/transport/

examples/*/core*

!examples/Muram/*.ipynb
!examples/Muram/Project.toml
!examples/Muram/*.slurm
!examples/Muram/*.sh
!examples/Muram/*.jl


!examples/EoS/*.ipynb
!examples/EoS/Project.toml
!examples/EoS/stagger_av.dat

examples/initial_conditions/test

examples/running_multi/*/*.hdf5
examples/running_multi/*.out


examples/MainSequence/*.txt
