/Manifest.toml

/.CondaPkg
examples/*/.CondaPkg

examples/*/Manifest.toml
examples/*/slurm*
examples/*/core.cobra*
examples/*/*.pdf
examples/*/*.gif
examples/*/*.png
examples/*/*.aux
examples/*/*.msh
examples/*/*.snap
examples/*/*.hdf5
examples/running_dispatch/*.csv
*.pyc
**/__pycache__/
examples/dispatch2multi/*atmos
examples/dispatch2multi/*mesh
examples/solar_model/*.dat
examples/solar_model/*.mod
examples/solar_model/*.simple
examples/solar_model/solar_stagger_ext
examples/stagger2bifrost/stagger_sun/*
examples/EoS/*
examples/Muram/*

examples/solar_model/*.txt
examples/solar_model/*.npz
examples/dispatch2space/data

examples/initial_models/*
examples/initial_models/*.dat
!examples/initial_models/*.mgrid

examples/from_stagger/.Conda*
examples/from_stagger/*.atmos
examples/from_stagger/*.mesh
examples/from_stagger/*/*.atmos
examples/from_stagger/*/*.mesh
examples/from_stagger/models*/*/*.mesh
examples/from_stagger/models*/*/*.atmos


examples/Paper_I/.Conda*
examples/Paper_I/*.atmos
examples/Paper_I/*.mesh
examples/Paper_I/models/*
examples/Paper_I/co5bold_*
examples/Paper_I/*/*.atmos
examples/Paper_I/*/*.mesh
examples/Paper_I/plots

examples/*/core*

!examples/initial_models/*.ipynb
!examples/initial_models/Project.toml
!examples/initial_models/*.jl
!examples/initial_models/*.slurm
!examples/initial_models/*_av.dat

!examples/Muram/*.ipynb
!examples/Muram/Project.toml
!examples/Muram/*.slurm
!examples/Muram/*.sh
!examples/Muram/*.jl


!examples/EoS/*.ipynb
!examples/EoS/Project.toml
!examples/EoS/stagger_av.dat

examples/initial_conditions/test
